<%# ==========ナビゲーションヘッダーのビュー追加する========== %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%# <a class="navbar-brand" href="#">VideoPostingApp</a> %>
      <%= link_to "VideoPostApp",root_path, class:"navbar-brand"%>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">新規作成</button> %>
          <%= link_to "新規作成",new_post_path, class:"new-post btn btn-secondary"%>
        </form>
      </div>
    </nav>
<%# ==========ナビゲーションヘッダーのビュー追加する========== %>
